<div class="container">
  <%# <header><img src="images/corneal-small.png" class="img-responsive main-image"></header> %>
  <div class="col-md-8 col-md-offset-2">
  <br>
  <br>
  <br>
    <h2>Foodie Central</h2>

    <div class="content">
      <p>Welcome to Foodie Central! Where all foodies come to share recipes.</p>
      <p>Please <a href="/signup">Sign up</a> or <a href="/login">Login</a> to create and share your recipes!</p>
    </div>
    <br>

  </div>
</div>
