<div class="container">
<br>
<br>
<br>
<h1 class="text-center">Create Recipe</h1>

<div class="form-group">
<% if flash[:error] %>
<div class="alert alert-danger" role="alert">
    <h4><em><%= flash[:error] %></h4></em>
</div>
<% end %>

<form action="/recipes" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" placeholder="Title">
    <br>

    <label for="instructions">Instructions: </label>
    <textarea name="instructions" cols="30" rows="10"></textarea>
    <br>

    <label for="cook_time">Cook Time: </label>
    <input type="text" name="cook_time" placeholder="Cook Time">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Create Recipe</button>
</form>
</div>
</div>