<h1><%= @recipe.title %></h1>
<p><h4>Instructions: </h4><%= @recipe.instructions %></p>
<p><h4>Cook Time: </h4><%= @recipe.cook_time %></p>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Recipe">
</form>